<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountryApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Helpers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Indonesia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Japan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Router.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RouterDestination.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12ACFE5729F1C3B7006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFE6729F1C3B9006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFE7129F1C3B9006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFE9229F1C412006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFECF29F1C665006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFEFC29F1C706006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12ACFF4A29F1FA90006584FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
